@import 'https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Raleway|Montserrat|Poiret+One|Roboto|Roboto+Condensed';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  /*font-size: 98%;*/
}


body {
  background: white;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.main {
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
}

.dialog {
  background-image: url("/img/background.jpg");
  background-size: cover;
  padding: 15px 30px;
  font-size: 13px;
  display: block;
  height: auto;
  overflow: auto;
  width: 33%;
}

.dialog button{
  border-radius: 4px;
  background: white;
  border: 0;
  box-shadow: 2px 2px 2px #555;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
}

.dialog input{
  margin-right: 5px;
}

/*.content > * {
  padding: 5px;
  border: 1px solid #ddd;
  margin: 5px;
}
*//*
.dialog {
  flex: 1;
  overflow: auto;
}

.dialog .answer {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}*/

.researcher, .user {
  padding-bottom: 5px;
  /*padding: 5px 25px;*/
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.researcher {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.user {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.name {
  margin: 5px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

.user .name {
  margin-bottom: 10px;
}

.researcher .name {
  margin-top: 10px;
}

.message, .form{
  /*color: black;*/
  /*color: #353535;*/
  /*font-size: 13px;*/
  line-height: 16px;
  word-wrap: break-word;
  padding: 5px 10px;
  margin: 5px;
  /*border-radius: 4px;*/
  position: relative;
  /*border: 1px solid #ddd;  */
}

.researcher .message{
  margin-right: 20px;
  background: white;
}

.user .message, .form  {
  background: #f0f0e0;
  margin-left: 20px;
}


.message:before, .form:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  overflow: hidden;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);    
}

.researcher .message:before {
  top: 8px;
  left: -5px;
  background: white;
  /*border-left: 1px solid #ddd;*/
  /*border-bottom:  1px solid #ddd;*/
}

.user .message:before, .form:before {
  bottom: 8px;
  right: -5px;
  background: #f0f0e0;
  /*border-right: 1px solid #ddd;*/
  /*border-top:  1px solid #ddd;*/
}

.user textarea {
  width: 300px;
  height: 80px;
  background: #f0f0e0;
}




.action {
  color: #353535;
  flex: 2;
  overflow: auto;
  padding: 15px 30px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.action .hbox {
  display: flex;
  flex-direction: row;
}

.action .recordHeading {
  font-family: 'Poiret One', cursive;
  font-size: 200%;
}

.mbox {
  border: 1px solid #ddd;
  padding: 5px;
  width: 770px;
}

.mbox h3 {
  font-weight: bold;
  font-style: italic;
}

.mbox > * {
  margin: 15px;
}

.mbox .con {
  width: 300px;
}

.mbox .evid {
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.action .frame {
  border: 1px solid #ddd;
  padding: 5px;
  display: inline-block;
}

.action .frame > * {
  margin: 10px;
}

.action table td{
  white-space: nowrap;
  padding: 2px 8px;
}

.action table td.question {
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  padding-top: 15px;
  padding-bottom: 18px;
}

.action table .record {
  width: 350px;
}

.action table td.recordTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 130%;
  padding-top: 15px;
  padding-bottom: 18px;
  font-weight: bold;
}

.action table td.robot {
  line-height: 25px;
  font-family: courier;
  font-size: 130%;
  padding-top: 15px;
  padding-bottom: 18px;
  font-weight: bold;
}

.action table td.factorNameFront {
  text-align: left;
}

.action table td.factorLevelRow{
  padding: 0px;
}

.action label.factorNameRow {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background: lightgrey;
}

.action table td label {
  text-align: center;
  display: block;
  /*margin: 5px;*/
}

.action label.dimmed {
  opacity: 0.1;
}

.action table td img {
  width: 40px;
}

.action table td label > input {
  font-family: sans-serif;
  margin-right: 7px;
}

.action .form {
  text-align: end;
}

.action button {
  color: white;
  padding: 3px 20px;
  background: black;
  text-decoration: none;
  margin: 5px;
  /*font-size: 13px;*/
}

.action button:disabled {
  color: lightgrey;
  padding: 3px 20px;
  background: grey;
  text-decoration: none;
  margin: 5px;
}

.performance-level {
  border: 1px solid #ddd;
  padding: 5px;
  width: 100px;
}

.performance-level > .grade {
  font-size: 300%;
  display: block;
  margin: 5px;
  text-align: right;
}

.action .chart img {
  width: 800px;
}


.mbox textarea {
  width: 500px;
  height: 80px;
}

.graph .axis .diamond {
  font: 12px Verdana, Helvetica, Arial, sans-serif;
}

.graph .axis-title {
  font-weight: bold;
}

