*.pid

/dialogue/static/cov/js/*
/dialogue/static/cov/js/.*
/dialogue/static/cov/js/*.*

/exploration/public/js/*
/exploration/public/js/.*
/exploration/public/js/*.*

/exploration/data/*
/exploration/data/.*
/exploration/data/*.*
